@import url('https://fonts.googleapis.com/css2?family=KoHo&display=swap');

:root {
   --mainPink: #ef7998;
   --mainYellow: rgb(249, 228, 148);
   --mainWhite: #fff;
   --mainBlack: #000;
   --blackTrans: rgba(0, 0, 0, 0.7);
   --yellowTrans: rgba(249, 228, 148, 0.5);
   --whiteTrans: rgba(255, 255, 255, 0.5);
   --mainGrey: rgb(238, 238, 238);
   --mainBlue: #60b0f4;
   --blueTrans: rgba(0, 191, 255, 0.2);
   --whiteTrans: rgba(255, 255, 255, 0.9);
}


body {
   font-family: 'KoHo', sans-serif;
   background: var(--mainWhite);
   color: var(--mainBlack);
}

/** nav links **/
.navbar-toggler {
   width: 30px;
   height: 20px;
   position: relative;
   transition: .5s ease-in-out;
}

.navbar-toggler,
.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus {
   outline: none;
   box-shadow: none;
   border: 0;
}

.navbar-toggler span {
   margin: 0;
   padding: 0;
}

.toggler-icon {
   display: block;
   position: absolute;
   height: 3px;
   width: 100%;
   background: var(--mainBlue);
   border-radius: 1px;
   opacity: 1;
   left: 0;
   transform: rotate(0deg);
   transition: .25s ease-in-out;
}

.middle-bar {
   margin-top: 0px;
}

.navbar-toggler .top-bar {
   margin-top: 0px;
   transform: rotate(135deg);
}

.navbar-toggler .middle-bar {
   opacity: 0;
   filter: alpha(opacity=0);
}

.navbar-toggler .bottom-bar {
   margin-top: 0px;
   transform: rotate(-135deg);
}

.navbar-toggler.collapsed .top-bar {
   margin-top: -20px;
   transform: rotate(0deg);
}

.navbar-toggler.collapsed .middle-bar {
   opacity: 1;
   filter: alpha(opacity=100);
}

.navbar-toggler.collapsed .bottom-bar {
   margin-top: 20px;
   transform: rotate(0deg);
}

.nav-link {
   color: var(--mainBlue);
   transition: all 1s ease-in-out;
   font-size: 1.5rem;
   margin-left: 25px;
}

.nav-link:hover {
   color: var(--mainBlack);
}

@media (max-width: 600px) {
   .desktop-icon {
      width: 75%;
   }
}

/** background **/
.max-height {
   min-height: calc(100vh - 76px);
   background: linear-gradient(var(--blueTrans), var(--blackTrans)), url('../img/explore.jpg');
   background-position: center;
   background-size: cover;
   background-attachment: fixed;
   background-repeat: no-repeat;
   position: relative;
}

.banner {
   color: var(--mainWhite);
   margin-top: -4rem;
}

.banner-title {
   color: var(--mainWhite);
   border-radius: 1rem;
   padding: 0.5rem;
   font-size: 4rem;
}

.container-fluid img {
   display: none;
}

@media (max-width: 600px) {
   .container-fluid img {
      display: block;
   }

   .text-capitalize .banner-title {
      font-size: 2.5rem;
   }
}

/** Icons Section **/
.icons {
   width: 75%;
   margin: auto;
   display: grid;
   grid-template-columns: repeat(3, 1fr);
   justify-items: center;
   text-align: center;
   padding: 25px 0px;
   border-bottom: 2px solid var(--mainBlue);
}

.icons .fa-wpexplorer, .fa-camera, .fa-smile {
   color: #60b0f4;
   margin: auto;
}

.icons h3 {
   text-transform: uppercase;
   margin: 15px 0px;
}

.icons a {
   color: #000;
}

@media (max-width: 600px) {
   .icons {
      width: 90%;
   }

   .icons h3 {
      font-size: 16px;
   }
}

/** Explore Section **/
#explore {
   display: grid;
   grid-template-columns: repeat(3, 1fr);
   justify-items: center;
   text-align: center;
   align-items: center;
   margin: 25px 0px;
}

#explore .photo-item img {
   width: 75%;
   border-radius: 5px;
}

#explore .photo-item .btn {
   background: var(--mainBlue);
   text-transform: capitalize;
   margin-top: 15px;
}

#explore .photo-item h5 {
   text-transform: capitalize;
   font-weight: lighter;
   margin: 5px 0px;
}

.border-bottom {
   background: var(--mainBlue);
   width: 75%;
   height: 3px;
   margin: auto;
}

@media (max-width: 600px) {
   #explore {
      grid-template-columns: 1fr;
      grid-gap: 25px;
   }
   .border-bottom {
      width: 90%;
   }
}

/** Destination and Tips Section **/
.map {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   text-align: center;
   padding: 0px 40px;
}

.map .destination h1 {
   text-transform: capitalize;
}

.map .destination iframe {
   border: 3px solid var(--mainBlue);
   border-radius: 5px;
   margin: 25px 0px;
}

.map .tips {
   margin: 35px 0px;
}

.map .tips img {
   width: 35%;
}

.map .tips .tip {
   margin-top: 25px;
}

.map .tips p {
   text-transform: capitalize;
}

@media (max-width: 600px) {
   .map .destination iframe {
      width: 90%;
   }

   .map .tips img {
      width: 75%;
   }
}

/** YouTube Section **/
.video {
   background: #ccc;
   padding: 35px 0px;
}

.video img {
   width: 20%;
   display: block;
   margin-left: auto;
   margin-right: auto;
}

.video h1 {
   text-align: center;
}

.video .video-items {
   display: flex;
   justify-content: center;
   align-items: center;
}

.video-item {
   width: 25%;
   background: var(--mainWhite);
   border-radius: 5px;
   margin: 25px;
}

.video-item a {
   color: var(--mainBlue);
   text-decoration: none;
   font-weight: bold;
}

.video-item p {
   font-size: 20px;
   text-align: center;
   margin: 5px 0px;
}

.video-item img {
   width: 100%;
   border-top-left-radius: 5px;
   border-top-right-radius: 5px;
}

.video-item .card-bottom {
   display: flex;
   justify-content: center;
   align-items: center;
}

.card-bottom img {
   width: 20%;
   margin: 5px;
}

@media (max-width: 1100px) {
   .video-item {
      width: 35%;
   }
}

@media (max-width: 768px) {
   .video-item {
      width: 45%;
   }
} 

@media (max-width: 600px) {
   .video img {
      width: 45%;
   }

   .video .video-items {
      flex-direction: column;
   }

 .video-item {
      width: 80%;
   }

 .video-item img {
    width: 100%;
  } 

  .card-bottom img {
     width: 20%;
  }
}

@media (max-width: 400px) {
   .video-item {
      width: 90%;
   }
}

/** Bottom Banner Photo **/
.banner-photo {
   background: url('../img/sunset.jpeg') no-repeat center center/cover fixed;
   height: 100vh;
}

/** about section **/
.about {
   background: var(--mainYellow);
}

.about-img_container {
   position: relative;
}

.about-img_container::before {
   content: "";
   position: absolute;
   top: -1.5rem;
   left: -1.7rem;
   width: 100%;
   height: 100%;
   outline: 0.5rem solid var(--mainWhite);
   z-index: -1;
   transition: all 1s linear;
}

.about-img_container:hover:before {
   top: 0;
   left: 0;
}

/** Blog **/
.blog {
   background: var(--mainGrey);
}

#blog .banner-title {
   color: var(--mainBlue);
}

.card {
   border-radius: 15px;
   padding: 10px;
}

.card img {
   width: 50%;
}

.img-container { 
   float: left;
   padding: 10px;
   position: relative;
   overflow: hidden;
   cursor: pointer;
   width: 25%;
   height: 25%;
}

.img-row::after {
  content: "";
  clear: both;
  display: table;
}

.image-item {
   width: 100%;
   display: block;
   height: 100%;
}

.img-container:hover .store-img {
   transform: scale(1.2);
}

/** CONTACT **/
.contact-form {
   background: var(--mainBlue);
}

/** footer icons **/
.footer-icon {
   font-size: 1.5rem;
   text-decoration: none;
   color: var(--mainBlue);
   transition: all 1s ease-in-out;
}

.footer-icon:hover {
   color: var(--mainBlack);
}

.footer p {
   text-align: center;
   color: var(--mainBlue);
   margin-top: 15px;
}

